<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{{ MEDIA_PATH_PREFIX }}/media/js/jsMath/easy/load.js">
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js">
    </script>
    <script type="text/javascript">
        var preview_answer = function() {
            var answer = $("#id_answer-answer").val()
            if (answer != "") {
                var data = { answer: answer };
                var args = { type: "POST", url: "/courses/preview_answer/", data: data, complete: done };
                $.ajax(args);
            }
            else {
                // display an explanation of failure
            }
            return false;
        };
        
        var done = function(response, status) {
            alert("status was " + status);
        };
    </script>
	{% block extra_js %}{% endblock %}
	{% block extra_css %}{% endblock %}
</head>
<body bgcolor="silver">
	{% if message %}
	<span id="message">{{message}}</span>
	{% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>
