{% extends "base.html" %}

{% block extra_css %}
<style>
div {
	padding: 3px;
}
.expander {
	background-repeat: no-repeat;
	background-position: 4px center;
	padding-left: 16px;
}
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
jQuery(document).ready(function(){
	$('.expander').css({'background-image': 'url(/media/images/collapsed.png)'});
	$('.expander').next().hide();
	
	update_onclicks();
});

function update_onclicks() {
	var CONSTRAINT = '\
	<span> \
		<select> \
			<option>&lt;</option> \
			<option>&le;</option> \
			<option>=</option> \
			<option>&ge;</option> \
			<option>&gt;</option> \
			<option>&ne;</option> \
		</select> \
		<input type="text" /> <a href="#" class="remove">remove</a><br /> \
	</span>';
	
	$('.expander').unbind('click').click(function(){
		$(this).next().toggle('normal');
	});
	$('.expander').toggle(
		function() {
			$(this).css({'background-image': 'url(/media/images/expanded.png)'});
		},
		function() {
			$(this).css({'background-image': 'url(/media/images/collapsed.png)'});
		}
	);
	
	$('.add-another').unbind('click').click(function(){
		$(this).prev().append(CONSTRAINT);
		$('.remove').click(function(){
			$(this).parent().remove();
			return false;
		});
		return false;
	});
	$('.remove').unbind('click').click(function(){
		$(this).parent().remove();
		return false;
	});
};

function new_value(name) {
	var value = prompt("Enter the name of the new value:", "");
	$('#secondary').append('\
	<div style="border: 1px #333 solid;"> \
		<div class="expander"> \
			#'+value+' \
		</div> \
		<div id="symbol-'+value+'" class="symbol" style="border-top: 1px #999 solid;"> \
			calculate value: <input type="text" /><br /> \
			<div> \
				<u>constraints</u><br /> \
			</div> \
			<a href="#" class="add-another">add another</a> \
		</div> \
	</div>');
	$('textarea').append('#'+value);
	
	var element = $('#secondary .expander:last');
	
	element.css({
		'background-image': 'url(/media/images/collapsed.png)',
	});
	element.next().hide();
	
	update_onclicks();
	return false;
};

var nextAnswerNumber = 1;
function new_answer(name) {
	$('#secondary').append('\
	<div style="border: 1px #333 solid;"> \
		<div class="expander"> \
			answer_'+nextAnswerNumber+' \
		</div> \
		<div id="answer-'+nextAnswerNumber+'" class="answer" style="border-top: 1px #999 solid;"> \
			expected: <input type="text" /><br /> \
			type: \
			<select> \
				<option>fill-in</option> \
				<option>radio</option> \
				<option>drop-down</option> \
			</select> \
			<div style="margin-left: 2em;"> \
				size: <input type="text" /> \
			</div> \
		</div> \
	</div>');
	$('textarea').append('[[answer_'+nextAnswerNumber+']]');
	nextAnswerNumber++;
	
	var element = $('#secondary .expander:last');
	
	element.css({
		'background-image': 'url(/media/images/collapsed.png)',
	});
	element.next().hide();
	
	update_onclicks();
	return false;
};
</script>
{% endblock %}

{% block content %}

	<center>
	<div style="border: 3px #333 dashed;">
		<textarea rows="10" cols="100"></textarea>
		<!--
		Write the English equivalent of the mathematical expression: 
		[% #a + #b = #sum %]
		The [[answer_01]] of [[answer_02]] and [[answer_03]]
		is [[answer_04]] to [[answer_05]].
		-->
	</div>
	
	<div style="border-left: 3px #333 dashed; border-right: 3px #333 dashed;">
		add:
		<a href="#" onclick="new_value();">value</a>
		<a href="#" onclick="new_answer();">answer</a>
		<a href="#">constant</a>
	</div>

	<div style="border: 3px #333 dashed; text-align: left;" id="secondary">
	</div><br />
	
	<a href="#" onclick="$('#preview-box').show('normal'); return false;">Preview!</a><br />

	<div style="border: 3px #333 dashed; display: none;" id="preview-box">
		<p>
				Write the English equivalent of the mathematical expression: 
		</p>
		<p>
				<!-- $8 + 4 = 12$ -->
				8 + 4 = 12
		</p>
		<form action="" method="POST">
		The <input type="text" name="answer-action" id="id_answer-action" /> of <input type="text" name="answer-arg1" id="id_answer-arg1" /> and <input type="text" name="answer-arg2" id="id_answer-arg2" />
		is <input type="text" name="answer-comparison" id="id_answer-comparison" /> to <input type="text" name="answer-answer" id="id_answer-answer" />.
		<br /><br />
		<input type="submit" value="Submit" />
		</form>
	</div>
	</center>

{% endblock %}
